<!doctype html>
<html>

<head>
    <link href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" />

    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>-->
    <script src="AngularJS/angular.min.js"></script>
</head>

<body ng-app="myApp">
    <div class="header">
        <div class="container">
            <h1>SW Destiny: Choose your destiny</h1>
        </div>
    </div>

    <div class="main" ng-controller="MainController">
        <div class="container">

            <p>{{ errorHandlerReturn }}</p>

            <h2>I'm looking for cards that:</h2>

            <input type="text" ng-model="searchString" placeholder="Name Filter">
            <!--<input type="text" ng-model="searchCategory" placeholder="Category String Filter">-->
            <input type="text" ng-model="dieSidesSearch" placeholder="Die Sides Filter">
            <input type="text" ng-model="searchAbilityCategory" placeholder="Ability Category Filter">
            <input type="text" ng-model="searchAbilityCategory2" placeholder="Ability Category Filter2">
            <!--<input type="button" class="ui, inverted, red, button" ng-model="searchAbilityCategory2" placeholder="Ability Category Filter2">
            <div class="col-sm-6" style="margin-bottom:10px">
                <div class="btn-group btn-group-justified" data-filter="affiliation_code" data-toggle="buttons">
                    <label class="btn btn-default btn-sm active" data-code="hero" title="" data-original-title="Hero">
	                   <input type="checkbox" name="hero">
	                   <strong>Hero</strong>
                    </label>
                    <label class="btn btn-default btn-sm active" data-code="neutral" title="" data-original-title="Neutral">
	                   <input type="checkbox" name="neutral">
	                   <strong>Neutral</strong>
                    </label>
                    <label class="btn btn-default btn-sm active" data-code="villain" title="" data-original-title="Villain">
	                   <input type="checkbox" name="villain">
	                   <strong>Villain</strong>
                    </label>
                </div>
            </div>-->

            <div class="col-sm-6" style="margin-bottom:10px"><!--ng-controller="SimpleArrayCtrl"-->
                <label class="btn btn-default btn-sm" ng-repeat="affiliationName in affiliations">
                  <input
                    type="checkbox"
                    name="selectedAffiliations[]"
                    value="{{affiliationName}}"
                    ng-checked="selection.indexOf(affiliationName) > -1"
                    ng-click="toggleSelection(affiliationName)"
                  > <strong>{{affiliationName}}</strong>
                </label>
            </div>

            <div class="col-sm-6" style="margin-bottom:10px">
                <label class="btn btn-default btn-sm" ng-repeat="typeName in types">
                  <input
                    type="checkbox"
                    name="selectedTypes[]"
                    value="{{typeName}}"
                    ng-checked="typesSelection.indexOf(typeName) > -1"
                    ng-click="toggleTypesSelection(typeName)"
                  > <strong>{{typeName}}</strong>
                </label>
            </div>

            <div class="col-sm-6" style="margin-bottom:10px">
                <label class="btn btn-default btn-sm" ng-repeat="colourName in colours">
                  <input
                    type="checkbox"
                    name="selectedColours[]"
                    value="{{colourName}}"
                    ng-checked="coloursSelection.indexOf(colourName) > -1"
                    ng-click="toggleColoursSelection(colourName)"
                  > <strong>{{colourName}}</strong>
                </label>
            </div>

            <div class="col-sm-6" style="margin-bottom:10px">
                <label class="btn btn-default btn-sm" ng-repeat="sideName in dieSides">
                  <input
                    type="checkbox"
                    name="selectedSides[]"
                    value="{{sideName}}"
                    ng-checked="sidesSelection.indexOf(sideName) > -1"
                    ng-click="toggleSidesSelection(sideName)"
                  > <strong>{{sideName}}</strong>
                </label>
            </div>
            <div class="col-sm-6" style="margin-bottom:10px">
                <label class="btn btn-default btn-sm">
                  <input
                    type="checkbox"
                    name="Only These Sides"
                    value="Only These Sides"
                    ng-model="checkboxModel.OnlySides"
                  > <strong>All These Sides</strong>
                </label>
            </div>
            <div class="col-sm-6" style="margin-bottom:10px">
                <label class="btn btn-default btn-sm">
                  <input
                    type="checkbox"
                    name="Die Sides Filter"
                    value="Die Sides Filter"
                    ng-model="checkboxModel.DieSidesOnOff"
                  > <strong>Search Die Sides</strong>
                </label>
            </div>


            <h1>{{ purpose }}</h1>


            <div ng-repeat="card in cardlist | nameContains:searchString | categoryIs:searchCategory | filter: { sides:dieSidesSearch } | filter: { abilityCategory:searchAbilityCategory } | filter: { abilityCategory:searchAbilityCategory2} | affiliationIs:selection | typeIs:typesSelection | colourIs:coloursSelection | sideIsComplex:sidesSelection:checkboxModel.OnlySides:checkboxModel.DieSidesOnOff" class="col-md-6">
                <!--<div ng-repeat="card in cardlist | nameContains:searchString | categoryIs:searchCategory | filter: { sides:dieSidesSearch } | filter: { abilityCategory:searchAbilityCategory } | filter: { abilityCategory:searchAbilityCategory2} | affiliationIs:selection | typeIs:typesSelection | colourIs:coloursSelection | sideIs:sidesSelection:checkboxModel.OnlySides:checkboxModel.DieSidesOnOff" class="col-md-6">-->
                <div class="thumbnail">
                    <img ng-src="{{ card.imagesrc }}">
                    <p class="title">{{ card.name }}</p>
                    <p class="price">{{ card.code }}</p>
                    <p class="date">{{ product.pubdate | date }}</p>
                    <div class="rating">
                        <p class="likes" ng-click="plusOne($index)">+ {{ product.likes }} </p>
                        <p class="dislikes" ng-click="minusOne($index)">- {{ product.dislikes }} </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="container">
            <h2>Available for iPhone and Android.</h2>
            <img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="120px" />
            <img src="http://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="110px" />
        </div>
    </div>


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/ObjectArrayCtrl.js"></script>
    <script src="js/controllers/SimpleArrayCtrl.js"></script>
</body>

</html>
